.App {
  color: #fff;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #e6ebf1;
  height: 150px;
  padding: 20px;
  color: #20b1aa;
  text-align: center;
}

.App-intro {
  font-size: large;
  text-align: center;
}

.form-field {
  padding: 12px;
  margin: 20px;
}
.form-container {
  border: 1px solid #fff;
  width: 350px;
  padding: 15px;
  position: fixed;
  left: calc(50% - 190px);
}
.btn-container {
  padding: 10px;
  padding-top: 25px;
}
.submit-btn {
  width: 98%;
  height: 30px;
  background: #e6ebf1;
  margin: 3px;
}
.form-label {
  float: left;
}
.form-input {
  height: 20px;
  width: 150px;
  float: right;
}
.text-danger {
  font-size: small;
  color: rgb(218, 68, 83);
}
.error-text {
  font-size: small;
  color: red;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/*#FF7F50*/